.frame {
  width: 1380px;
  height: 820px;
  border: 1px solid rgb(206, 138, 141);
  /* margin: 30px 30px; */
  margin: 0 auto;
  margin-top: 30px;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.wrap {
  border: 1px solid #d9b5b7;
}

.title {
  padding: 20px 0 20px 0;
}

h1 {
  color: #9e2e39;
  text-align: center;
  text-shadow: 8px 10px 0px #f4c2ca;
}

header {
  background-color: #ea9696;
  border: 1px solid #d9b5b7;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 50px;
}

.logo {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-right: -20px;
}

.logo img {
  width: 20px;
  height: 20px;
}

.head1 {
  margin-right: -20px;
}

.spec {
  margin-left: 15px;
}

.go {
  /* margin: 20px 0 20px 0; */
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 30px;
}
.search {
  height: 20px;
}

.button-go {
  padding: 2px 7px;
}

.line {
  width: 1px;
  height: 36px;
  background-color: blue;
}

.menu {
  display: flex;
  gap: 5px;
}

.left {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px 0;
}
.left-1 {
  border-radius: 20px;
  background-color: #ea9696;
  color: white;
  padding: 10px 20px;
}
.left-2 {
  width: 100%;
  padding: 25px 0;
}

.left-2 img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 10px 30px 30px #ea9696;
}

.content {
  width: 820px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.menu-2 {
  background-color: #ea9696;
  border-radius: 0%;
  size: 36px;
  width: 370px;
  height: 30px;
  text-align: left;
  font-size: 24px;
  margin: 0 200px;
  color: rgb(151, 43, 46);
  letter-spacing: 15px;
  font-weight: bold;
  padding: 0 10px;
}

ul {
  margin: 0 30px;
}
.itemp {
  color: red;
  font-weight: bold;
}

table tbody {
  padding: 10px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

tr {
  display: flex;
  gap: 20px;
}

textarea::placeholder {
  color: black;
}

.right {
  background-color: black;
  border-radius: 0%;
  width: 300px;
  height: 544px;
  margin-top: 10px;
  margin-right: 0;
  color: white;
}

.a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 30px;
  font-weight: bold;
}

.a1 {
  font-size: 25px;
}

.a2 {
  font-size: 12px;
}

.a2 img {
  width: 240px;
  height: 146px;
}

.read {
  color: #ea9696;
}

footer {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e99298;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  text-align: center;
}

.wrap-content {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.button {
  padding: 10px 10px;
}

.wrap-button {
  padding: 0 10px 20px 10px;
}

.wrap-comment {
  width: 100%;
  display: flex;
  justify-content: center;
}

.right-table tbody {
  padding: 30px;
}
